{% extends "base.html" %}

{% block content %}
    <h1>Книги жанра: {{ genre_name }} </h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ book.photo_url }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <p class="card-text">{{ book.price }} &#8381;</p>
                        {% if current_user.is_authenticated %}
                        <div class="d-flex justify-content-between align-items-center">
                            <form action="{{ url_for('update_cart') }}" method="post">
                                <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                <input type="hidden" name="quantity" value="1"> 
                                <button type="submit" class="btn btn-primary">В корзину</button>
                            </form>  
                            <div style="width: 10px;"></div>              
                            <form action="{{ url_for('update_wishlist') }}" method="post">
                                <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                <button type="submit" class="btn btn-secondary">В избранное</button>
                            </form> 
                        </div>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <a href="{{ url_for('admin.edit_book', book_id=book['book_id']) }}" class="btn btn-secondary">Редактировать</a>
                                <div style="width: 5px;"></div>  
                                <form action="{{ url_for('admin.delete_book', book_id=book['book_id']) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <div class="mt-3">
            <a href="{{ url_for('admin.add_book') }}" class="btn btn-primary">Добавить книгу</a>
        </div>
    {% endif %}
{% endblock %}
